:host
    display: block;
    // color: #eaeaea;

h1, h2, h3
small,
a
    display: inline-block;
    vertical-align: baseline;
    line-height: 72px;
    height: 72px;
    margin: 0;

small
    color: #bbb;

.title
    height: 100%;
    position: relative;
    float: left;
    line-height: 72px;
    height: 72px;

.right
    float: right;
