:host
    display: block;

h1, h2, h3
small,
a
    display: inline-block;
    vertical-align: baseline;
    line-height: 72px;
    height: 72px;
    margin: 0;



.title
    height: 100%;
    position: relative;
    float: left;
    line-height: 72px;
    height: 72px;

    small
        color: #bbb;
