// *,
// *:before,
// *:after
// 	box-sizing border-box
// 	margin 0
// 	padding 0

active-color-ctrl,
palette-ctrl
	// margin-top: 10px;
	// border-top: 1px solid #eaeaea;
	display block

[active-color-background]
	height 150px

app
	display block
	position absolute
	top 0
	bottom 0
	left 0
	right 0

	display flex
	flex-direction column
	flex-wrap nowrap
	justify-content flex-start
	align-items stretch
	// width 50%
	margin 0 auto


	header
		flex 0 0 65px

	section
		flex 1 0 auto
		display flex
		flex-direction row
		flex-wrap nowrap


	footer
		flex 0 0 50px

	h1
		font-size 4rem
		letter-spacing: -2px
		small
			font-size 1rem
			letter-spacing: 0.25px
			color #bbb
			position: relative;
			// margin-left: -3px;


	input
		border 1px solid #eaeaea
		display inline
