color-output,
color-input
	display block

//
//
// .container
// 	width 480px
// 	// height 540px
// 	margin 0 auto
//
// 	> *
// 		border-top 1px solid #eaeaea
//
// 	header
// 		width 100%
// 		margin 0
// 		padding 10px 0 20px
//
// 	section
// 		width 100%
// 		margin 0
// 		padding 0
//
// 		color-output
// 			display block
// 			width 100%
// 			height 200px
//
//
// 		.input-group
// 			width 100%
// 			display flex
// 			flex-direction row
// 			flex-wrap nowrap
// 			justify-content center
// 			align-items stretch
//
//
// 			color-input
// 				min-height 100px
// 				flex 1 1 30%
// 				display flex
// 				flex-direction column-reverse
// 				flex-wrap nowrap
// 				align-items stretch
// 				> input
// 					flex 0 1 100%
// 					display block
//
//
// 	footer
// 		width 100%
// 		> *
// 			display block
// 			width 50%
// 			margin 0 auto
// 			text-align center
