<div id="single-color-form" class="col-xs-12 col-sm-4">

  <h2 class="page-header">Current Color</h2>

  <!-- color swatch -->
  <div class="col-xs-12 color"
    [style.background]="swatchBackground"
    [style.height.px]="200"></div>

  <!-- color input -->
  <color-input class="col-xs-12"
    [colorMode]="'rgb'"
    [color]="color"
    (colorChange)="colorChanged($event)"></color-input>

  <!-- buttons -->
  <div class="col-xs-12 buttons">
    <button type="button" class="btn btn-default col-xs-12"
      (click)="onSave()">Save Color</button>
  </div>

</div>


<div class="col-xs-12 col-sm-4">

  <header class="page-header col-xs-12">
    <h2>Saved Colors</h2>
  </header>


  <div class="btn-group col-xs-12">
    <button type="button" class="btn btn-default" (click)="onSavePalette()">Save Palette</button>
    <button type="button" class="btn btn-default" (click)="onClear()">Clear Palette</button>
  </div>



  <div class="col-xs-12">
    <div class="list-group">
      <a class="list-group-item disabled center" *ngIf="!savedColors.length">No saved colors.</a>
      <a class="list-group-item" *ngFor="let color of savedColors" (click)="selectColor(color)">
        <color-swatch [color]="color" [size]="24"></color-swatch>
        <!-- <div class="swatch" [style.height.px]="24" [style.width.px]="24" [style.background]="color.toRgbString()"></div> -->
        <span>{{color.toRgbString()}}</span>
      </a>
    </div>
  </div>

</div>

<div class="col-xs-12 col-sm-4">

  <header class="page-header col-xs-12">
    <h2>Saved Palettes</h2>
  </header>


  <div class="btn-group col-xs-12">
    <button type="button" class="btn btn-default" (click)="onClearPalettes()">Delete All</button>
  </div>



  <div class="col-xs-12">
    <div class="list-group">
      <a class="list-group-item disabled center" *ngIf="!savedPalettes.length">No saved palettes.</a>
      <a class="list-group-item" *ngFor="let palette of savedPalettes" (click)="selectPalette(palette)">
        <palette class="clearfix" [palette]="palette"></palette>
      </a>
    </div>
  </div>

</div>
