:host
    display: block;
    margin-top: 72px;
    background: #fafafa;
    min-height: calc(100% - 72px);

color-input,
.color
    margin-bottom: 10px;

.color
    padding: 20px;
    border: 1px solid #eee;

// .buttons
//     padding-top: 20px;

#single-color-form
    border-bottom: 1px solid #eee;

.list-group-item
    .swatch
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
