:host
    display: block;
    margin-top: 72px;
    background: #fafafa;
    min-height: calc(100% - 72px);

.color
    padding: 20px;
    border: 1px solid #eee;

#single-color-form
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #eee;

    color-input
        height: 100%;
