:host
    display: block;
    margin-top: 72px;
    background: #fafafa;
    min-height: calc(100% - 72px);

.jumbotron
    border-radius: 0;
    margin-bottom: 0;

    color-input
        float: left;

.form-inline
    display: inline-block;

.color
    padding: 20px;
    border: 1px solid #eee;
