<div class="row">
	<active-color-output class="col-xs-12"></active-color-output>
	
	<div class="col-xs-4">
		<active-color-input class="col-xs-12 form-group" mode="r" label="Red"></active-color-input>
		<active-color-input class="col-xs-12 form-group" mode="g" label="Green"></active-color-input>
		<active-color-input class="col-xs-12 form-group" mode="b" label="Blue"></active-color-input>
	</div>
	<div class="col-xs-4">
		<active-color-input class="col-xs-12 form-group" mode="h" label="Hue"></active-color-input>
		<active-color-input class="col-xs-12 form-group" mode="s" label="Saturation"></active-color-input>
		<active-color-input class="col-xs-12 form-group" mode="l" label="Lightness"></active-color-input>
	</div>
</div>
